.app-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 25px;
  padding-left: 25px;
  background-color: #606060;

  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}
